<div class="home_container">
  <app-card
    gameCover="../../../assets/img/bt-5.jpg"
    gameLabel="DIGITAL"
    gameType="Digital PS4"
    gamePricing="R$ 399,90"
  ></app-card>

  <app-card
    gameCover="../../../assets/img/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="Digital PS3"
    gamePricing="R$ 154,60"
  ></app-card>

  <app-card
    gameCover="../../../assets/img/bt-1.jpg"
    gameLabel="CLASSIC"
    gameType="Game Boy"
    gamePricing="R$ 120,89"
  ></app-card>

  <app-card
    gameCover="../../../assets/img/bt-hardline.jpg"
    gameLabel="DIGITAL"
    gameType="Digital PS4"
    gamePricing="R$ 170,10"
  ></app-card>

  <app-card
    gameCover="../../../assets/img/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameType="Digital PS4"
    gamePricing="R$ 150,30"
  ></app-card>

  <app-card
    gameCover="../../../assets/img/ac-cover.jpg"
    gameLabel="CLASSIC"
    gameType="Digital PS3"
    gamePricing="R$ 160,50"
  ></app-card>
</div>
